.rating_input {
  text-align: inherit;
  font: inherit;
  height: 100%;
  width: 50%;
  margin: 0 2px;
}

.rating_label {
  width: 100%;
}

.rating_input::-webkit-inner-spin-button {
  display: none;
}

.rating_arrow {
  height: 100%;
  width: 25%;
  cursor: pointer;
  display: inline-block;
}

.rating_arrow:hover {
  background-color: #4d4d4d;
}

.rating_span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-nhentai-list-information-injection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  flex-wrap: wrap;
  gap: 8px;
}

.my-nhentai-list-information-injection-select {
  background: #4d4d4d;
  color: #d9d9d9;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.rating-asker {
  position: fixed;
  top: 10px;
  right: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .rating-asker-foreground {
    background: #3a3a3a;
    width: 80%;
    color: #d9d9d9;
    border: none;
    padding: 8px;
    border-radius: 4px;
    .rating-asker-input-container {
      .rating-asker-input {
        text-align: center;
        width: 50%;
      }
    }
  }
}
