*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #8888883a;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #88888850;
}

* {
  scroll-behavior: smooth;
}

html,
:root,
body {
  margin: 0;
}

body {
  background-color: #191925;
  color: #fafafa;
  width: 500px;
  // height: 600px;
}

input,
button {
  background-color: #222225;
  color: #fafafa;
  border: 3px black solid;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  margin: 0;
}

.cover {
  max-width: 100px;
  height: auto;
}

main {
  margin-top: 50px;
  overflow: overlay;
}

#search-bar {
  width: 100%;
}

#titles_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 16px 0;
  align-items: center;
}

#topbar {
  display: flex;
  background: #15151c;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  align-content: center;
  justify-content: center;
  z-index: 5;
}

#buttons {
  margin: 8px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  * {
    width: 100%;
    margin: 0 8px;
  }
}
#selected {
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  button {
    // margin: 0 8px;
    padding: 16px 0;
    width: 100%;
    border: none;
    height: 100%;
    &:hover {
      background-color: #322d22;
    }
  }
}

#messages {
  position: fixed;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 1rem;
  .message {
    padding: 8px;
    background: #1e1d25;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    border: black solid;
  }
  .disappearing {
    animation: fadeOut 0.5s forwards;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
