.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tag {
  // cursor: pointer;
  cursor: default;
  border-radius: 1em;
  padding: 8px;
  background-color: #1d1d27;
  @extend .center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    transition: none;
    color: #ffffff;
    background-color: #3e3e43;
  }
  position: relative;
  * {
    pointer-events: none;
  }
}

.tag_presenter {
  font-size: 0.8em;
  color: #a0a0a0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 1fr;
  gap: 8px;
  margin: 0 8px;
}
.filtered_tag_presenter {
  @extend .tag_presenter;
  display: flex;
  flex-wrap: wrap;
  color: grey;
  & .highlight {
    color: white;
  }
}

.sorting_presenter {
  @extend .tag_presenter;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.contentHider {
  font-size: 2em;
  margin: 16px;
  display: flex;
  gap: 0.1em;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.selected {
  background-color: #747483;
  color: #fafafa;
  &:hover {
    color: #e3e3ff;
    background-color: #3b3b4d;
  }
}

.excluded {
  background-color: #7b6469;
  &:hover {
    background-color: #4d3b40;
  }
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // justify-content: center;
  margin: 16px;
  gap: 8px;
  input {
    padding: 16px;
    text-align: center;
    pointer-events: none;
  }
  button {
    width: 100%;
    padding: 16px;
    &:hover {
      background-color: #3b3b4d;
    }
  }
}
.decoration {
  color: #44ff44;
  position: absolute;
  left: 0em;
  bottom: -0.5em;
}
.favorite {
  @extend .decoration;
  color: yellow;
  bottom: unset;
  top: -0.5em;
}
.contextMenu {
  background-color: #292a2d;
  color: #d2d2d2;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 4px;
  border-radius: 8px;
  gap: 4px;
  * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 32px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #3f4042;
      color: #ffffff;
    }
  }
}
